body{
    background-color: antiquewhite;
}

.fields{
    border: 1px solid;
    border-color: green;
}
.empty-fields{
    border: 1px solid;
    border-color: red;
}

.fname:required{
    border-color: blue;
}

.mover{
    height: 50px;
    width: auto;
    background-color: crimson;
    color: white;
}

.mout{
    height: 50px;
    width: auto;
    background-color: green;
    color: white;
}

.mdown{
    height: 50px;
    width: auto;
    background-color: blue;
    color: white;
}

.mup{
    height: 50px;
    width: auto;
    background-color: yellow;
    color: black;
}
